.container.gallery {
  width: 992px;
}
.gallery.frame {
  padding: 16px 40px 8px 40px;
  text-align: center;
}

.gallery .row {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 34px;
}

.gallery .row .wrapper {
  display: block;
  height: 200px;
  width: 180px;
  margin-right: 4px;
}

.gallery .row img {
  display: block;
  height: 100%;
  flex-grow: 0;
  width: 100%;
  object-fit: cover;
}

.gallery.module button.icon {
  display: inline-block;
  background-position: -176px -16px;
  margin: 0 auto;
}

/* Photo zoom */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.photo-zoom {
  background-color: #f5f5f5;
  margin: 3% auto;
  width: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-zoom .photo {
  background: #a3a3a3;
  display: flex;
  justify-content: center;
  max-height: 90vh;
  /* overflow: hidden; */
  overflow: auto;
  max-width: 90%;
  flex-grow: 1;
  position: relative;
}

.photo-zoom img {
  /* display: flex; */
  object-fit: contain;
  width: 100%;
  height: auto;
}

.photo-zoom .icon-arrow {
  position: absolute;
  top: calc(50% - 80px / 2);
  width: 80px;
  height: 80px;
  background: url(../images/photo_arrows.svg) no-repeat;
}

.photo-zoom .icon-arrow.left {
  left: 0%;
}
.photo-zoom .icon-arrow.left:hover {
  background-position: -64px 0;
}
.photo-zoom .icon-arrow.right {
  background-position: -207px 0;
  right: 0%;
}
.photo-zoom .icon-arrow.right:hover {
  background-position: -144px 0;
}

.photo-zoom .description {
  background: #f5f5f5;
  position: relative;
  min-width: 360px;
  padding-left: 16px;
  padding-top: 16px;
}
.photo-zoom .icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 44px;
}
.photo-zoom .close {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}
.photo-zoom .close .btn-icon {
  margin: 0;
  background-position: -208px -96px;
}
.photo-zoom .btn-icon {
  margin-right: 16px;
}
.photo-zoom .datetime .btn-icon {
  background-position: -315px -135px;
}
.photo-zoom .resolution .btn-icon {
  background-position: -327px -179px;
}
.photo-zoom .device .btn-icon {
  background-position: -327px -212px;
}
