.container.table-of-contents {
  width: 992px;
}
.module.close .full-description {
  display: none;
}

.all-modules .frame,
.module.frame {
  margin-bottom: 40px;
}

.module {
  padding: 30px 32px 31px 18px;
}

.module button {
  border: none;
}

.materials {
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.materials ul {
  background: none;
  list-style: none;
}

.materials li {
  margin-bottom: 8px;
  display: flex;
  justify-content: left;
  margin-right: 44px;
}

.materials .icon {
  margin-right: 8px;
}

.module .description {
  display: flex;
  justify-content: space-between;
}

.module {
  position: relative;
}

.module .main-info {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-info p {
  max-width: 620px;
}

.icon.module-status {
  margin-right: 26px;
}

.module.not-started .icon.module-status {
  background-position: -16px -96px;
  opacity: 0.55;
}

.module.finish .icon.module-status {
  background-position: -60px -208px;
}

.module.in-progress .icon.module-status {
  background-position: -21px -176px;
}

.icon.homework {
  background-position: -318px -53px;
}

.icon.lessons {
  background-position: -279px -56px;
}

.module.close button.icon {
  background-position: -176px -16px;
  margin-right: 0;
}

.module button.icon {
  background-position: -208px -16px;
  margin-right: 0;
}

.module .full-description ul {
  list-style: none;
  background: none;
}

.module .full-description a {
  padding: 18px 0 22px 0;
  display: flex;
  align-items: center;
  position: relative;
  height: 64px;
}

.module .full-description a {
  background: none;
  text-decoration: none;
  color: black;
}

.module .element-number {
  margin-right: 30px;
  font-family: "PTRootUIWebMedium", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #878787;
  background: none;
}

.module .element-number.finish {
  color: #167bd9;
}

.module .element-number.in-progress {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  font-size: 13px;
  line-height: 20px;
  border-radius: 50%;
  border: 2px solid #167bd9;
}

.module .duration {
  opacity: 55%;
  position: absolute;
  right: 0;
}

.module .icon.module-status::after {
  content: "";
  position: absolute;
  width: 2px;
  left: 9px;
  top: 70%;
  bottom: 0%;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.all-modules .module .description::before {
  content: "";
  position: absolute;
  width: 2px;
  left: 27px;
  top: 0%;
  height: 52px;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.all-modules .module .description::after {
  content: "";
  position: absolute;
  width: 2px;
  left: 27px;
  bottom: 0%;
  height: 57px;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.module .element-number::before {
  content: "";
  position: absolute;
  width: 2px;
  left: 9px;
  top: 0%;
  bottom: 70%;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.module .element-number::after {
  content: "";
  position: absolute;
  width: 2px;
  left: 9px;
  top: 66%;
  bottom: 0%;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.all-modules .module.close .description::after {
  content: "";
  position: absolute;
  width: 2px;
  left: 27px;
  top: calc(50% + 24px / 2);
  bottom: 0%;
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.all-modules .module.close .description::before {
  content: "";
  position: absolute;
  width: 2px;
  left: 27px;
  top: 0%;
  bottom: calc(50% + 24px / 2);
  border-radius: 0px 0px 1px 1px;
  background: #cbcbcb;
}

.module.close .icon.module-status::after,
.module.close .element-number.in-progress::before,
.module.close .element-number.in-progress::after,
.all-modules li:first-of-type .description::before,
.all-modules li:last-of-type .description::after,
.all-modules li:last-of-type .module .full-description li:last-of-type .element-number::after,
.last-used-module .module .full-description li:last-of-type .element-number::after {
  display: none;
}

.all-modules .module.in-progress .description::before,
.all-modules .module.finish .description::before,
.module.in-progress .icon.module-status::after,
.module.finish .icon.module-status::after,
.all-modules .module.finish.close .description::before,
.all-modules .module.finish.close .description::after,
.all-modules .module.in-progress.close .description::before,
.module .element-number.in-progress::before,
.module .element-number.finish::before,
.module .element-number.finish::after {
  background: #167bd9;
}

.all-modules ul {
  list-style: none;
  background: none;
}
